*{
  font-family: 'Roboto Slab', serif;
}

body {
  margin: auto;
  width: 95%;
  background-color: rgb(247, 203, 199);
}

.box {
  width: 75%;
  margin: auto;
  text-align: center;
  border-radius: 5px;  
  background-color: rgba(247, 179, 173, 0.493);
  border: 1px solid rgba(247, 179, 173, 0.493);
  box-shadow: 7px 7px 10px rgba(245, 166, 159, 0.493);
  margin-top: 20px;
  margin-bottom: 20px;
}

#bigSalmon {
  display: block;
  margin: auto;
}
.salmon {
  width: 15%;
  margin-left: 10px;
  margin-right: 10px;
}

#uglySalmonRight {
  -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}


#navBar {
  margin: auto;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
  border-radius: 5px;  
  background-color: rgba(243, 213, 210, 0.493);
  border: 1px solid rgba(247, 179, 173, 0.493);
  box-shadow: 7px 7px 10px rgba(245, 166, 159, 0.493);

}
li {
  display: inline-block;
  padding: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 18px;

}
h1 {
  color: rgba(248, 132, 0, 0.699);
  margin-top: 3%;
  text-align: center;
  font-size: 48px;
}

h4 {
  text-align: center;
  margin-bottom: 0px;
}

h5 {
  margin-top: 0px;
}

a:Link {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}
a:hover {
  text-shadow: 1px 1px 1px;
  color: rgb(48, 47, 47);
  transition: 300ms;
}

.quote {
  width: 50%;
  padding: 20px;
  margin: 20px auto;
  font-style: italic;
  background-color: salmon;
  text-align: left;
}

#ourStory {
  width: 75%;
  margin: auto;
  text-align: left;
  overflow: auto;
}

#ourStory img {
  width: 300px;
  float: left;
}

#ourStory p, #ourStory h2 {
  width: 60%;
  float: left;
  margin-left: 2%;
  margin-right: 2%;
}

#whoWeAre {
  text-align: center;
}

#whoWeAre img {
  width: 300px;
}

#rowOne, #rowTwo {
  width: 30%;
  display: inline-block;
}

.store {
  width: 20%
}

textarea {
  float: left;
  margin-bottom: 10px;
  margin-left: 20px;
}

#userCommentButton {
  float: left;
  margin-left: 20px;
  clear: left;
  margin-bottom: 20px;
}

#userInput {
  overflow: auto;
}

#return {
  margin-top: 50px;
  margin-bottom: 100px;
}

.storeRow {
  width: 100%;
  margin: auto;
}

.storeImageRow img {
width: 15%;
margin: 1% 18.3% 0% 0%;
}

.storeImageRow :first-child {
  margin-left: 9.15%;
}

.storeImageRow :last-child {
  margin-right: 0%;
}

.storeTextRow p {
  width: 15%;
  margin: 1% 18.3% 0% 0%;
  display: inline-block;
}

.storeTextRow :first-child {
  margin-left: 9.15%;
}

.storeTextRow :last-child {
  margin-right: 0%;
}

.storeTextRow span {
  padding-left: 55%;
}